
 

	h1 {
		
		font-size: 34px;
        text-decoration-color: white;
        text-align: center;
        background-color:coral;
        text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        
		
		}


        .bouton{
        background-color: coral;
        text-decoration-color: black;
        font-size: large;
        display: inline-block;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: #eeeeee;
        text-align: center;
        font-size: 28px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        }


        
        
div{
    text-align: center;
}




