<h1 class="art-shadow "><b>Inscription </b> </h1> <br><br><br><br>

<div>
    <img class="img" src="assets\images\LOGOS-DERBIGUM-rect-500px-100px.png" height="100" width="400" >

    <br>
    <br>
      <table style="margin-left: auto;margin-right: auto;width: 50%;">
        <!--<tr><td></td><td></td><td></td>-->
        <!--</tr>-->
  
        <tr><td><a  style="color: black;" ><button (click)="ShowRegisterClient()"class="bouton">Inscription Commecial</button></a></td>
          <td><a  style="color: black;" ><button (click)="ShowRegisterAdmin()"class="bouton">Inscription Admin</button></a></td>
         
        </tr>
      </table>
  
  
    <!--<router-outlet></router-outlet>-->
  
    <div style="width: 80%;height: 500px;">
      <!--<app-login-client></app-login-client>-->
      <br><br>
      <div style="margin: 0 auto;width: 100%;">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!--<br> <br> <br> <br> <br> <br> <br> <br> <br>-->
  
    <!--<router-outlet  name="layout"></router-outlet>-->
  
  
  
</div>

  