

<div class="cart-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-page-inner">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Stock Id </th>
                                    <th>Stock Name</th>
                                    <th>Quantite</th>
                                    <th>Update</th>
                                    <th>Remove</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let stock of stocks" class="align-middle">
                                <tr>
                                    <td>{{stock.idStockDetail}}</td>
                                    <td>
                                         
                                            <p>{{stock.stockName}}</p>
                                      
                                    </td>
                                    <td>{{stock.quantiteInstan}} </td>                                    
                                    <td><a routerLink="/update-stock/{{stock.idStockDetail}}"><i class="fas fa-pencil-alt"></i></a></td>
                                    <td><button (click)="onDeleteStock(stock)"><i class="fa fa-trash"></i></button></td>
                                </tr>
                                
                            </tbody>
                        </table>
                        <td><a routerLink="/add-stock"><i class="fas fa-plus"></i>Ajouter un stock</a></td>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>

